#container {
  display: grid;
  grid-template: 1fr / 0.2fr 1fr;
}

#project-container {
  display: grid;

  justify-content: space-evenly;
  background-color: lightblue;
}

.project {
  display: grid;
  grid-template: 1fr / 1fr 0.3fr 0.3fr;
  align-items: center;
}

.project p {
  grid-column: 1 / 2;
}

.edit-button {
  grid-column: 2 / 3;
  height: 25px;
  width: 25px;
}

.remove-button {
  grid-column: 3 / 4;
  height: 25px;
  width: 25px;
}

#task-container {
  grid-column: 2 / 3;

  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
  justify-items: center;
  align-content: center;
  align-items: center;
  gap: 10px;
}

#add-new-task button {
  font-size: 40px;
}

.task {
  background-color: lightcyan;
  width: 300px;
}

.task-description {
  color: pink; /* placeholder effect */
}
