#container {
  display: grid;
  grid-template: 1fr / 0.2fr 1fr;
}

#project-container {
  grid-column: 1 / 2;
  background-color: lightblue;
}

#task-container {
  grid-column: 2 / 3;

  display: grid;
  grid-template: 1fr / 1fr 1fr 1fr;
  justify-items: center;
  align-content: center;
  align-items: center;
  gap: 10px;
}

#add-new-task button {
  font-size: 40px;
}

.task {
  background-color: lightcyan;
  width: 300px;
}

.task-description {
  color: pink; /* placeholder effect */
}
